<h2>Dear User</h2>

<p>Thank you for using Dr Search Application, 
<br>
    We have received your payment #{{payment_no}} with amount of {{amount}} OMR.</p>
<br>
<table>
    <tr>
        <td>Price</td><td>{{price}}</td>
    </tr>
    <tr>
        <td>Service TAX</td><td>{{tax}}</td>
    </tr>
    <tr>
        <td>Thawani VAT</td><td>{{vat}}</td>
    </tr>
    <tr>
        <td>Total</td><td>{{total}}</td>
    </tr>
</table>
<br>
<p>Dr Search Team</p>
<small>
    Please note: This e-mail was sent from a notification-only address that cannot accept incoming e-mails. Please do not reply to this message.
</small>